*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Cabesera{
  width: 100%;
  height: 70vh;
  background: #000000 url("../img/TEESI.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.Cabesera_Titulo{
  width: 100%;
  height: 100%;
  background-color: #00000094;
  color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:20px;
  text-align: center;
  font-family: 'Urbanist', sans-serif;
}

.Cabesera_Titulo h1{
  font-size: 3em;
  font-weight: bolder;
}
.Cabesera_Titulo h3{
  font-size: 2.5em;
}
.Cabesera_Titulo h5{
  font-size: 1.5em;
}


.Contacto_Contenedor{
width: 80%;
background-color: #cccaca7c;
border-radius: 15px;
padding: 15px;
}

.Contacto{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      position: relative;
      justify-content: center;
      align-items: center ;
      margin-top: 15px;
}


.Mapa{
width: 50%;
border-radius: 15px;
}

.Titulo_Contacto{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.Titulo_Contacto_Titulo{
font-size:4em ;
}

.informacion{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
width: 50%;
font-size: 2.8em;
font-family: 'Belanosima', sans-serif;
}

.boton{
width: 50%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}

.boton label{
font-size: 2em;
font-family: 'Belanosima', sans-serif;
}

.ubicacion{
width: 100%;
}

.Contenedor_Contenido{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(206, 206, 206, 0.705);
  border-radius: 25px;
  padding: 20px;
  position: relative;
  flex-wrap: wrap;
}

@media(max-width:700px){
.Contenedor_Contenido{
  flex-direction: column;
}
.informacion{
  width: 100%;
}
.tituloCCAI .divTitulo h1{
  font-size: 2.6em;
}
.tituloCCAI .divTitulo label{
  font-size: 2.0em;
}
.Titulo_Contacto_Titulo{
  font-size: 2.6em;
}
.boton label{
  font-size: 1.4em;
}
}



.Titulo_Contacto h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center ;
  text-align: center;
  font-family: 'Belanosima', sans-serif;
  font-size: 60px;

}
button {
  position: relative;
  padding: 12px 35px;
  background: #FEC195;
  font-size: 17px;
  font-weight: 500;
  color: #181818;
  border: 3px solid #FEC195;
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all .3s ease-in-out;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #effff3);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all .8s ease;
}

button:hover {
  background: transparent;
  color: #FEC195;
  box-shadow: 0 0 25px #fec1958c;
}

button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #FFFDEF
}
.informacion{
  display: flex;
  gap: 15px;
}


.Btn_Registrar0{
  
  width: 200px;
  margin-top: 30px;
}

.Redes_Sociales{
background-color: #cccaca7c;
padding: 20px;
margin-top: 30px;
}

.Titulo_Redes{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin-bottom: 20px;
}

.Titulo_Redes h1{
font-size: 2em;
text-align: center;
}

.Titulo_Redes label{
font-size: 1.5em;
text-align: center;
}

.Redes{
width: 100%;
display: grid;
grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
place-content: center;
gap: 20px;
}

.Redes_Informacion{
text-align: center;
display: flex;
flex-direction: column;
border-top: 4px solid green;
}

.Redes_Informacion_Direccion{
font-family: 'Belanosima', sans-serif;
font-size: 35px;
}

.Redes_Informacion_Correo{
font-family: 'Belanosima', sans-serif;
font-size: 35px;
}

.Redes_Informacion_Telefono{
font-family: 'Belanosima', sans-serif;
font-size: 35px;
}

.Redes_Informacion_Giro{
font-family: 'Belanosima', sans-serif;
font-size: 35px;
}

.imagen{
width: 50%;
height: 100%;
}

.Imagen_Tesi{
width: 100%;
padding: 20px;
display: flex;
align-items: center;
justify-content: center;
}

@media(max-width:700px){
  .imagen{
    width: 100%;
    height: 100%;
  }
}