.fin{
    background-color: black;
    width: 100%;
    min-height: 200px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Redes_Sociales_Titulo{
    color: white;
    font-size: 1.3em;
}

.Redes_Sociales{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.Redes_Sociales_Facebook{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;
    transition: 0.5s;
}

.Redes_Sociales_Youtube{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;
    transition: 0.5s;
}

.Redes_Sociales_Tesi{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;
    transition: 0.5s;
}

.Facebook{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition:0.5s;
}

.Youtube{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition:0.5s;
}

.Tesi{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.Redes_Sociales_Facebook:hover{
    background-color: blue;
   
}

.Redes_Sociales_Youtube:hover{
    background-color: red;
}

.Redes_Sociales_Tesi:hover{
    background-color: green
}

.Redes_Sociales_Facebook img{
    width: 100%;
    height: 100%;
}

.Redes_Sociales_Youtube img{
    width: 100%;
    height: 100%;
}

.Redes_Sociales_Tesi img{
    width: 100%;
    height: 100%;
}


.Facebook_Titulo{
    position: absolute;
    color: white;
    opacity: 0;
    transition: 0.5s;
}

.Youtube_Titulo{
    position: absolute;
    color: white;
    opacity: 0;
    transition: 0.5s;
}

.Tesi_Titulo{
    position: absolute;
    color: white;
    opacity: 0;
    transition: 0.5s;
}

.Redes_Sociales_Facebook:hover .Facebook_Titulo{
    transform: translateY(30px);
    opacity: 1;
}

.Redes_Sociales_Youtube:hover .Youtube_Titulo{
    transform: translateY(30px);
    opacity: 1;
}

.Redes_Sociales_Tesi:hover .Tesi_Titulo{
    transform: translateY(30px);
    opacity: 1;
}