*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header{
    width: 100%;
    position: relative;
    overflow: hidden;
}

.Titulo_Tesi{
    margin-top: 70px;
    display: grid;
    position: relative;
    width: 100%;
    height: 800px;
    padding: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/TesiFondo.jpg");
    background-size: 100% 100%;
    place-content: center;
    text-align: center;
}

.Titulo_Tesi h1{
    font-size: 60px;
    width: 100%;
    height: 100%;
    color: #fff;
}

.Titulo_Tesi label{
    font-size: 30px;
    color: #fff;
    text-align: center;
}

/*==================================================================================
                            parte 1
====================================================================================*/

.Instalaciones{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    flex-direction: row;
    margin-top: 50px;
    width: 100%;
    
}
.Instalaciones_Descripcion{
    text-align: center;
}

.Instalaciones nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    flex-direction: row;
    background-color: #cccacad7;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-top: 20px;
}

.Instalaciones_Titulo{
    width:620px;
    min-height: 200px;
    display: grid;
    place-content: center;
    padding: 10px;
    text-align: justify;
    background-color: #ffffff;
    border-radius: 15px;
}

.Instalaciones_Titulo h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    width: 100%;
}

.Instalaciones_Titulo p{
    font-size: 18px;
}

.Slayer{
    min-width: 260px;
    overflow: hidden;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.452);
    margin: 10px;
}


.Slayer ul{
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 400%;
}

.Slayer li{
    width: 100%;
    list-style: none;
}

.Slayer img{
    width: 100%;
    height: 100%;
}

@keyframes cambio {
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

@media(max-width:700px){
    

    .Instalaciones_Titulo h1{
        padding-top: 10px;
        font-size: 30px;
    }
    .Titulo_Tesi h1{
        font-size: 45px;
    }
    
    .Titulo_Tesi label{
        font-size: 25px;
    }
}

@media(max-width:300px){
    .Instalaciones_Titulo h1{
        padding-top: 10px;
        font-size: 19px;
    }
    .card{
        width: 200px;
        height: 300px;
    }
    .Titulo_Tesi h1{
        font-size: 40px;
    }
    
    .Titulo_Tesi label{
        font-size: 20px;
    }
}

.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
    text-decoration: none;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #5D9D0B;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #1B1D24;
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    background: #365A08;
   }
   
   .cta:hover svg {
    transform: translateX(0);
    stroke: #fff;
   }

   .cta:hover span{
    color: white;
   }
   
   .cta:active {
    transform: scale(0.95);
   }
/*==================================================================================
                            parte 2
====================================================================================*/
.Servicios{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}

.Servicios_Titulo{
    width: 85%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Servicios_Titulo h1{
    margin-top: 30px;
    font-size: 50px;
    text-align: center;
    margin-bottom: 15px;
}

.linea{
    width: 90%;
    height: 10px;
    background-color: #365A08;
    margin-bottom: 20px;
}

.Servicios_Targetas{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.Servicio_Card{
    min-width: 270px;
    width: 350px;
    min-height: 350px;
    height: 570px;
    background-color: #cccacad7;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.685);
    margin-top: 20px;
}

.Servicio_Card img{
    width: 100%;
    border-radius: 15px;
    
}
/*==================================================================================
                            parte 3
====================================================================================*/

.Explorar{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 30px;
    padding: auto;
}

.Explorar_Targetas{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Explorar_Card_Contenido{
    text-align: center;
    color: #fff;
}

.Explorar_Card_Contenido h1{
    font-size: 25px;
}

.Explorar_Web{
    font-size: 50px;
}

.Explorar_Card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 250px;
    height: 450px;
    text-align: center;
    background-color:#1b1d24 ;
    border-radius: 15px;
    margin-top: 15px;
}

.Explorar_Card img{
    width: 100px;
    filter: invert(44%) sepia(100%) saturate(927%) hue-rotate(52deg) brightness(92%) contrast(91%);
}

.Explorar_Card_Boton{
    text-decoration: none;
    width: 160px;
    height: 35px;
    background-color:none ;
    transition: .5s;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: white;
    margin-top: 15px;
}

.Explorar_Card_Boton:hover{
    transform: translateY(-4px);
    background-color:  rgba(163, 163, 163, 0.418) ;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.425);
}

@media(max-width:700px){
    .Explorar_Card{
        height: 280px;
    }
}

/*==================================================================================
                            parte 4
====================================================================================*/
.Impacto{
    width: 100%;
    height: 450px;
    margin-top: 20px;background: #fff url("../img/instalacion-4.jpg") no-repeat center center;
    object-fit: cover;
    background-size: 100% 100%;
}

.Impacto_Contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: -1%;
}

.Impacto_Contenido{
    width: 40%;
    height: 50%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.61);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.4px);
    -webkit-backdrop-filter: blur(11.4px);
    border: 1px solid rgba(255, 255, 255, 1);
    text-align: justify;
    display:grid;
    place-content: center;
}

.ImpactoContenido{
    font-size: 19px;
}
@media(max-width:300px){
    .Impacto_Titulo{
        font-size: 20px;
    }
    .ImpactoContenido{
        font-size: 14px;
    }
}

@media(max-width: 700px){
    .Impacto_Contenedor{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    .Impacto_Contenido{
        width: 90%;
        height: 62%;

    }
}

/*==================================================================================
                            parte 5
====================================================================================*/

.Proyectos{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.Proyectos_Titulo{
    font-size: 50px;
    text-align: center;
}

.Proyectos_Contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.container-slider{
    width: 90%;
    max-width: 400px;
    position: relative;
}

.slider{
    display: flex;
    width: 400%;
    height: 400px;
    background-color: #234567;
    margin-left: -100%;
}
.slider__section{
    width: 100%;
}

.Contenedor_Sliders .Todos_botn{
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    
}

.slider__btn{
    width: 40px;
    height: 40px;
    background-color: #5D9D0B;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.slider__btn--left{
    left: 10px;
}

.slider__btn--rigth{
    right: 10px;
}