*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header{
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .tituloCCAI{
    width: 100%;
    height:  600px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #000000 url("../img/TesiFondo.jpg") no-repeat;
    background-size: 100% 100%;
    z-index: -1;
    text-align: center;
  }
  
  .divTitulo{
    background-color: #00000079;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .tituloCCAI .divTitulo h1{
    font-size: 100px;
    color: #fff;
    text-align: center;
  }
  
  .tituloCCAI .divTitulo label{
    font-size: 50px;
    color: #fff;
  }

  @media(max-width:700px){
    .tituloCCAI .divTitulo h1{
      font-size: 50px;
    }
    .tituloCCAI .divTitulo label{
      font-size: 20px;
    }
}
  /*============================pate 1==============================*/
  .Registro_Presentacion{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }

  .Registro_Presentacion_Titulo{
    width: 90%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .Registro_Presentacion_Titulo h1{
    font-size: 60px;
  }

  .Registro_Presentacion_Titulo p{
    font-size: 25px;
  }

  .Registro_Presentacion_Contenedor{
    grid-template-columns: repeat(3,1fr);
    display:grid;
    place-content: center;
    gap: 20px;
  }
  @media(max-width:700px){
    .Registro_Presentacion_Contenedor{
      grid-template-columns:100%;
      grid-template-rows: auto;
    }
    .Registro_Presentacion_Titulo h1{
      font-size: 30px;
    }
    .Registro_Presentacion_Titulo p{
      font-size: 20px;
    }
}
  /*============================pate 1==============================*/
  .Registro{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .Registro_Contenedor{
    width: 80%;
    background-color: #ffff00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff8000'/%3E%3Cstop offset='1' stop-color='%23ff8000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2300ff19'/%3E%3Cstop offset='1' stop-color='%2300ff19' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239900ff'/%3E%3Cstop offset='1' stop-color='%239900ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffff00'/%3E%3Cstop offset='1' stop-color='%23ffff00' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF0000'/%3E%3Cstop offset='1' stop-color='%23FF0000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230CF'/%3E%3Cstop offset='1' stop-color='%230CF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .Registro_Contenedor div{
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .Registro_text{
    width: 100%;
    height: 30px;
  }
  
  .Registro_area{
    width: 100%;
    height: 200px;
  }

  .Registro_Label{
    font-size: 20px;
    color: #fff;
    font-weight: bold;
  }
