*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.Cabesera{
    width: 100%;
    height: 70vh;
    background: #000000 url("../img/TEESI.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.Cabesera_Titulo{
    width: 100%;
    height: 100%;
    background-color: #00000094;
    color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
}

.Cabesera_Titulo h1{
    font-size: 3em;
    font-weight: bolder;
}
.Cabesera_Titulo h3{
    font-size: 2.5em;
}
.Cabesera_Titulo h5{
    font-size: 1.5em;
}

/*===========================================Parte 1=======================================*/

.Actividades{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 30px;
    padding: auto;
}

.Actividades_Titulo{
    font-size: 60px;
    text-align: center;
}

.Actividades_Contenedor{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Actividades_Card_Img{
    width: 90%;
    border-radius: 15px;
}

.Acividades_Card{
    width: 100%;
    min-height: 550px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:rgba(180, 180, 180, 0.418);
    border-radius: 15px;
    padding: 15px;
}

.Actividades_Card_Contenido h1{
    text-align: center;
}

.Actividades_Card_Contenido p{
    text-align: justify;
    font-size: 18px;
}

@media(max-width:700px){
    .Actividades_Contenedor{
        grid-template-rows: repeat(3,1fr);
        gap: 20px;
        grid-template-columns: 100%;
        width: 90%;
    }
}

@media(max-width:700px){
    .Actividades_Titulo{
        font-size: 30px;
    }
}





/*=================================parrte 2======================================*/
.Servicios{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
    text-align: center;
}

.Servicios_Contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: start;
    margin-top: 20px;
} 

.Servicios-Titulo{
    font-size: 60px;
    text-align: center;
}

.Servicios_Card{
    width: 65%;
    min-height: 500px;
    background-color:rgba(180, 180, 180, 0.418);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px;
    border-radius: 15px;
}

.Contenido{
    padding-left: 20px;
}

.Servicio_Contenido{
    font-size: 22px;
    padding: 20px;
}

.Card_Contenido{
    font-size: 15px;
}

.Cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.linea{
    width: 80%;
    height: 10px;
    background-color: #58940a;
    margin-top:20px ;
}

.Imagen_Servicios{
    border-radius:15px ;
    width:400px;
    height: 300px;
}

.Card_Titulo{
    font-size: 35px;
    color: #58940a;
}

@media(max-width:700px){

    .Servicios_Card{
        width:90% ;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3);
    }

    .tituloCCAI .divTitulo h1{
        font-size: 50px;
    }
    .tituloCCAI .divTitulo label{
        font-size: 40px;
    }
    
    .Imagen_Servicios{
        width: 95%;
    }

    .Servicios_Card{
        width: 95%;
    }
    .Imagen_Servicios{
        width: 80%;
    }
}

@media(max-width:700px){
    .Servicios-Titulo{
        font-size: 30px;
    }

    .Servicio_Contenido{
        font-size: 20px;
    }
}

/*=================================parrte3======================================*/

