*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    position: relative;
    overflow: hidden;
}

.tituloCCAI{
    width: 100%;
    height:  600px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #000000 url("../img/tesi-pg.jpg") no-repeat;
    background-size: 100% 100%;
    z-index: -1;
    text-align: center;
}

.divTitulo{
    background-color: #00000079;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloCCAI .divTitulo h1{
    font-size: 100px;
    color: #fff;
    text-align: center;
}

.tituloCCAI .divTitulo label{
    font-size: 50px;
    color: #fff;
}

/*=================================parrte1======================================*/
.Servicios{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.Servicios-Titulo{
    font-size: 50px;
    text-align: center;
}

.Servicios p{
    font-size: 20px;
    text-align: center;
}

.Servicios_Contenedor{
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
} 


.Servicios_Targetas{
    width: 200px;
    height: 300px;
    transition: 1s;
    position: relative;
    flex-wrap: wrap;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Servicios_Targetas div{
    width: 200px;
    height: 300px;
    overflow: hidden;
    transition: 1s;
}



.Servicios_Targetas_Img{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif;
    text-align: center;
    box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.425);
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    transition: 1s;
}

.Servicios_Targetas_Texto{
    background: rgb(184, 255, 162);
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.425);
    border-radius: 10px;
    z-index: -1;
    transition: 1s;
}

.Servicios_Targetas_Texto_Titulo{
    font-size: 20px;
}

.Servicios_Targetas_Texto p{
    font-size: 18px;
    text-align: start;
    transition: 1s;
}
.Servicios_Targetas:hover{
    width: 400px;
}
.Servicios_Targetas:hover .Servicios_Targetas_Texto{
    transform: translateX(107%);
    min-height: 400px;
}
.Servicios_Targetas:hover .Servicios_Targetas_Img{
    transform: scale(1.1);
    
}

@media(max-width:700px){
    .Servicios_Targetas:hover{
        min-height: 400px;
        margin-bottom: 400px;
    }
    .Servicios_Targetas:hover .Servicios_Targetas_Texto{
        transform: translateY(90%);
        min-height: 400px;
    }
    .tituloCCAI .divTitulo h1{
        font-size: 50px;
    }
    .tituloCCAI .divTitulo label{
        font-size: 40px;
    }
}

/*===========================================Parte 2=======================================*/

.Actividades{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 50px;
    padding: auto;
}

.Actividades_Titulo{
    text-align: center;
    font-size: 50px;
}

.Actividades_Todas_Targetas{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}



